@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    lemonade,
    nord;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
